@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #60E5AE;
}

body {
  color: #1F1F1F;
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav a.active {
  @apply text-primary
}

nav a.active svg {
  @apply fill-primary
}